# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [3]:
import pandas as pd
import numpy as np

In [4]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [5]:
black_friday.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

In [6]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [7]:
#q1
black_friday.shape

(537577, 12)

In [8]:
black_friday['Age'].value_counts()

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64

In [9]:
womans = black_friday.query("Age == '26-35' & Gender == 'F'")
print (womans['User_ID'].shape[0])

49348

In [10]:
black_friday['User_ID'].value_counts()

1001680    1025
1004277     978
1001941     898
1001181     861
1000889     822
           ...
1005810       6
1005391       6
1005608       6
1002111       6
1000708       5
Name: User_ID, Length: 5891, dtype: int64

In [11]:
print (black_friday.isnull().sum())

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [12]:
black_friday['Product_Category_3'].value_counts()

16.0    32148
15.0    27611
14.0    18121
17.0    16449
5.0     16380
8.0     12384
9.0     11414
12.0     9094
13.0     5385
6.0      4818
18.0     4563
4.0      1840
11.0     1773
10.0     1698
3.0       600
Name: Product_Category_3, dtype: int64

In [13]:
black_friday['Purchase'].value_counts()

6855     186
7011     185
7193     182
6891     182
6879     181
        ...
18719      1
898        1
14457      1
13947      1
3326       1
Name: Purchase, Length: 17959, dtype: int64

In [14]:
black_friday['Purchase'].mean()

9333.859852635065

In [15]:
black_friday['Purchase'].std()

4981.022132656479

In [16]:
nmlzd_bf_p = black_friday['Purchase'].mean()/black_friday['Purchase'].std()
nmlzd_bf_p

1.873884436577906

In [17]:
#q5
q5 = black_friday.isna().sum() / black_friday.shape[0]
print (float(q5.max()))

0.6944102891306734

In [18]:
#q8
purch_norm = black_friday['Purchase']
purch_norm = (purch_norm - purch_norm.min()) / (purch_norm.max() - purch_norm.min())
print (float(purch_norm.mean()))

0.3847939036269795

In [19]:
#q9
purch_pad = black_friday['Purchase']
purch_pad = (purch_pad - purch_pad.mean()) / purch_pad.std()
    
print (purch_pad[purch_pad.between(-1, 1)].shape[0])

348631

In [20]:
#q10
category_null = black_friday[black_friday['Product_Category_2'].isna()][['Product_Category_2','Product_Category_3']]
print (bool(category_null.isnull().values.all()))

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [155]:
def q1():
    return black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [72]:
def q2():
    mulh_age = black_friday.query("Age == '26-35' & Gender == 'F'")
    return (mulh_age['User_ID'].shape[0])
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [78]:
def q3():
    return (black_friday['User_ID'].nunique())
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    return black_friday.dtypes.nunique()
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    q5 = black_friday.isna().sum() / black_friday.shape[0]
    return float(q5.max())
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    return int (black_friday.isnull().sum().max())
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    return float(black_friday['Product_Category_3'].dropna().mode())
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    purch_norm = black_friday['Purchase']
    purch_norm = (purch_norm - purch_norm.min()) / (purch_norm.max() - purch_norm.min())
    return float(purch_norm.mean())
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [123]:
def q9():
    purch_pad = black_friday['Purchase']
    purch_pad = (purch_pad - purch_pad.mean()) / purch_pad.std()
    
    return purch_pad[purch_pad.between(-1, 1)].shape[0]
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    category_null = black_friday[black_friday['Product_Category_2'].isna()][['Product_Category_2','Product_Category_3']]
    return bool(category_null.isnull().values.all())
    pass